{% extends "::base.html.twig" %} 
{% block content %}

<h1>Wallet creation</h1>

<form action="{{ path('my_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('my') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}