<div class="tiptip">
    <a href="{{ path('_welcome')}}" class="button left" title="Home"><span class="icon icon108"></span></a>
    <a href="#" class="button middle" title="Save"><span class="icon icon3"></span></a>
    <a href="#" class="button middle" title="Save"><span class="icon icon127"></span></a>
    <a href="{{ path('my') }}" class="button middle" title="Portfele"><span class="icon icon23"></span></a>
    <a href="#" class="button middle" title="Save"><span class="icon icon105"></span></a>
    <a href="#" class="button middle" title="Dodaj do ulubionych"><span class="icon icon177"></span></a>
    <a href="#" class="button middle" title="Statystyki"><span class="icon icon179"></span></a>
    <a href="#" class="button middle" title="Ustawienia"><span class="icon icon96"></span></a>
    <a href="{{ path('fos_user_security_logout') }}" class="button right" title="Wylogowanie"><span class="icon icon151"></span></a>

</div>

<div style="float:right;width:223px;background: #F1F1F1;padding: 6px;border: 1px solid #D2D2D2;margin:5px 0 20px 0;">
    Aktualnie posiadany kapitał: 0.00 PLN<br/>
    Łączna wartość walorów: 0.00 PLN<br/>
    Zysk sprzedanych walorów: 0.00 PLN<br/>
    Łączny zysk: 0.00 PLN<br/><br/>
</div>

