{% extends "PortfelIndexBundle:Default:index.html.twig" %} 

{% block content_login %}
<div class="box">
    Jesteś zalogowany jako {% ~ name %} <a href="">Wyloguj się</a>
<br/><br/>
</div>
{% endblock %}