        <div class="section">
            <div class="region region-footer">
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="block">

                    <h2 class="block-title">Ostatnie treści</h2>

                    <div class="footer-content">
                        <table>
                            <tbody>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/o-firmie">O firmie</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/node/5">Referencje</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/4">Kariera</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="even"><td class="title-author"><div class="node-title"><a href="/o-nas">O nas</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                                <tr class="odd"><td class="title-author"><div class="node-title"><a href="/node/1">Lorem ipsum</a></div><div class="node-author"><span class="username" xml:lang="" about="/user/1" typeof="sioc:UserAccount" property="foaf:name">dziorki</span></div></td><td class="edit"></td><td class="delete"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>