{% extends "::base.html.twig" %} 

{% block content %}
            <div id="left">
                <div id="bottom"></div>
                <div id="chartsview" class="bigchartsresize">
                    <div class="content" >
                        {% if app.session.hasFlash('notice') %}
                            <div class="flash-notice">
                                {{ app.session.flash('notice') }}
                            </div>
                        {% endif %}
                            
                        <ul id="chartslist" class="chartslist">
                            <li id="chartslist_1">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">1.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-1" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_2">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">2.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-2" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_3">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">3.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-3" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_4">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">4.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-4" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                            <li id="chartslist_5">
                                <a class="closebtn" title="Usuń"></a>
                                <a class="movebtn" title="Przesuń"></a>
                                <div class="header">
                                    <a class="hname" href="/notowania/KGH">KGH</a>
                                    <span class="htime">29 lip 17:33</span>
                                    <span class="hvalue">5.000</span>
                                    <span class="hchange"><span class="cminus">(-23.00%)</span></span>
                                </div>
                                <div id="chartph-5" class="chartph" style="position: relative; height: 120px; width: 286px; "></div>
                            </li>
                        </ul>
                        <div class="clr"></div>
                    </div>

                </div>
                <div class="clr"></div>

                <div class="content">
                    
                </div>
            </div>
            <div id="right">
                {% include 'PortfelIndexBundle:Index:login.html.twig' %}
                <br/>
                <div id="box-oragne">
                    <div id="header">
                        <h4 class="box_header">
                            <span>Twoje spółki</span>
                        </h4>
                        <div class="box-orange">
                            <div>
                                <ul>
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li>
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li> 
                                <li><a onclick="Model.addchart(131)">VENO</a></li>
                                <li><a onclick="Model.addchart(132)">CDRED</a></li>
                                <li><a onclick="Model.addchart(133)">BORYSZEW</a></li> 
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}