<a href="{{ path('_welcome') }}">Strona główna</a> |
<a href="">Notowania</a> |
<a style="color: #ff0078;" href="{{ url('my') }}">Twój portfel</a> |
<a href="{{ path('public') }}">Portfele publiczne</a> |
<a href="">Statystyki portfeli</a> |
<a href="">FAQ</a> |
<a href="">Kontakt</a>




