{% extends "::base.html.twig" %} 
{% block content %}

{% include 'MyPortfelBundle:My:top.html.twig' %}

<br/><br/><br/><br/>

<form action="{{ path('operation_create', { 'wallet_id': wallet_id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <br/>
    <button class="action blue" type="submit"><span class="label">Dodaj</span></button>
</form>


<button class="action green"><a href="{{ path('operation', { 'wallet_id' : wallet_id }) }}"><span class="label">Wróć</span></a></button>

{% endblock %}